body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
   background-color: #D8E5FE;
   text-align: center;
   padding: 1.5px
}

h2 {
    font-size: 34px;
    color: #333;
}

header p {
    color:gray !important;
}

section {
    margin: 10px 40px;
}

section p a {
    color: red;
}


section p {
    color: gray;
}

.button-container {
    display: flex;
    justify-content: center; 
   
}

button {
    background-color: rgb(0, 110, 255);
    color:white !important;
    padding: 10px;
    border-radius: 5px;
    border-color: white !important;

}



footer {
    background-color: black;
    text-align: center;
    color:white !important;
    padding: 10px;

}


.output {
    display: none;
}

