<%- include('header'); -%>

    <header>
        <div class="container-fluid bg-primary-subtle">
            <div class="col-sm-8 mx-auto text-center py-2">
                <h1 class="display-4">dKin Caps</h1>
                <p class="lead ">A young and inspiring organisation whose
                    primary purpose is to bring you the highest quality headwear available.</p>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h3 class="mt-3">Errors in form</h3>

            <p class="text-secondary"> 
                Sorry, there seems to be a problem with the data you supplied. Your form has a total of <%= count %> errors. 
              
            </p>

            <h5>Errors List</h5>

            <div class="text-secondary">
                <ol>
                    <% if (!firstname) { %> <!-- If firstname is not filled, show the row -->
                    <li scope="row">Error in field 'firstname': <em>Missing firstname?</em></li>
                    <% } %>
                    <% if (!surename) { %> <!-- If surename is not filled, show the row -->
                    <li scope="row">Error in field 'surename': <em>Missing surename?</em></li>
                    <% } %>
                </ol> 
                <a href="/" class="">Click here to return to the feedback form</a>
            </div>
        </div>
    </main>

    <%- include('footer'); -%>